<h3>Caro(a) <%= name %>,</h3>

<p> Após a avaliação da documentação submetida, o seu registo em <a href="<%= site %>"><%= site %></a> foi validado.</p>

<p> Em breve irá receber um email com os dados de pagamento do registo </p>

<p>Obrigado!</p>